<div class="mascotas-container">
  <h2>Mascotas/Mascotas Activas</h2>
  <div class="acciones">
    <div class="mostrar">
      <label for="mostrar">Mostrar</label>
      <input id="mostrar" type="number" [(ngModel)]="cantidadAMostrar" min="1" max="100" />
      <span>Mascota/s</span>
    </div>
    <div class="busqueda">
      <label for="busqueda">Búsqueda</label>
      <input id="busqueda" type="text" [(ngModel)]="busqueda" (ngModelChange)="filtrarMascotas()" placeholder="Buscar..." />
    </div>
    <button class="nuevo">Nuevo</button>
  </div>

  <table class="tabla-mascotas" *ngIf="mascotasFiltradas.length > 0; else noMascotas">
    <thead>
      <tr>
        <th>Mascota</th>
        <th>Nombre</th>
        <th>Raza</th>
        <th>Especie</th>
        <th>Sexo</th>
        <th>Edad</th>
        <th>Detalles</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mascota of mascotasFiltradas | slice:0:cantidadAMostrar">
        <td>
          <!-- Mostrar la imagen de la mascota -->
          <img *ngIf="mascota.foto" [src]="'http://localhost/api/' + mascota.foto" alt="{{ mascota.nombre }}" class="foto-mascota" />


          <p *ngIf="!mascota.foto">No hay foto disponible</p>
        </td>
        <td>{{ mascota.nombre }}</td>
        <td>{{ mascota.raza }}</td>
        <td>{{ mascota.especie }}</td>
        <td>{{ mascota.sexo }}</td>
        <td>{{ mascota.edad }}</td>
        <td><a href="#" (click)="verDetalles(mascota); $event.preventDefault()">Consultar</a></td>
      </tr>
    </tbody>
  </table>

  <ng-template #noMascotas>
    <p>No tienes mascotas registradas.</p>
  </ng-template>
</div>
